@inject IBooksService _bookService;

<button class="btn btn-link text-decoration-none d-flex align-items-center" type="button"
data-bs-toggle="collapse" data-bs-target="#filterForm"
aria-expanded="true" aria-controls="filterForm"
@onclick="ToggleExpanded">
    <i class="bi @(isExpanded ? "bi-chevron-down" : "bi-chevron-right")" style="transition: transform 0.3s;"></i>
    <span class="ms-2">Filters</span>
</button>
<div class="collapse mb-2" id="filterForm">
    <EditForm class="row mx-1 border" Model="@this">
        <div class="col-12 col-md-3 mb-2">
            <label for="filterAuthor" class="form-label">Author</label>
            <InputSelect id="filterAuthor" class="form-control" required @bind-Value="_author">
                <option selected value="">Select author...</option>
                @foreach (var author in _authors)
                {
                    <option value="@author">@author</option>
                }
            </InputSelect>
        </div>
        <div class="col-12 col-md-3 mb-2">
            <label for="filterEdition" class="form-label">Edition</label>
            <InputSelect id="filterEdition" class="form-control" required @bind-Value="_editionCode">
                <option selected value="">Select edition...</option>
                @foreach(var ed in Editions.GetEditions())
                {
                    <option value="@ed.Code">@ed.Name</option>
                }
            </InputSelect>
        </div>
        <div class="col-12 col-md-3 mb-2">
            <label for="filterMediaType" class="form-label">Media type</label>
            <InputSelect id="filterMediaType" class="form-control" required @bind-Value="_mediaType">
                <option selected value="">Select media type...</option>
                @foreach (var mt in _mediatypes)
                {
                    <option value="@mt">@mt</option>
                }
            </InputSelect>
        </div>
        <div class="col-12 col-md-3 d-flex align-items-end mb-2">
            <LoadingSubmitButton IconClass="bi bi-search" Label="Search" OnValidSubmit="Search" />
            <button class="btn btn-secondary ms-2" @onclick=ResetFilters>Reset</button>
        </div>
    </EditForm>
</div>
