@inject NavigationManager _nav;
@inject IBooksService _service;
<h3>Books</h3>

<BookListFilters SearchClicked=SearchBooks />
@if (_books is null)
{
    <LoadingSpinner />
}
else if (_books.Any() is false)
{
    <div>There are no books matching your filters in the database.</div>
}
else
{
    <table class="table table-fixed table-sm w-100">
        <tbody>
        @foreach (var book in _books)
        {
            <tr class="book-row" @onclick="@(() => NavigateToDetails(book.Id))">
                <td class="bg-transparent fixed-col">
                    <img src="@book.Details.ImageLink"
                         alt="@book.Title"
                         class="me-3 rounded book-image" />
                </td>
                <td class="bg-transparent flex-col">
                    <div class="fw-bold text-truncate" title="@book.Title">@book.Title</div>
                    <div class="small text-muted text-truncate">@book.Description.FirstOrDefault()</div>
                    <div class="text-muted small mt-4 text-truncate">
                        <strong>Edition:</strong> @book.Details.Edition.Name
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<DisplayErrors Errors=@_errors />
